<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="{% url 'index' %}">
        <table>
            <tr>
                <td align="right">Avg. Area Income</td>
                <td align="left"><input type="text" name="n1"></td>
            </tr>
            <tr>
                <td align="right">Avg. Area House Age</td>
                <td align="left"><input type="text" name="n2"></td>
            </tr>
            <tr>
                <td align="right">Avg. Area Number of Rooms</td>
                <td align="left"><input type="text" name="n3"></td>
            </tr>
            <tr>
                <td align="right">Avg. Area Number of Bedrooms</td>
                <td align="left"><input type="text" name="n4"></td>
            </tr>
            <tr>
                <td align="right">Area Population</td>
                <td align="left"><input type="text" name="n5"></td>
            </tr>
        </table>
        <input type="submit">
    </form>
    結果：{{result2}}
</body>
</html>