<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'result1' %}">
    <input type="text" required name="ブドウ糖">
    <input type="text" required name="血圧">
    <input type="text" required name="肌の厚さ">
    <input type="text" required name="インシュリン">
    <input type="text" required name="BMI">
    <input type="text" required name="糖尿病血統関数">
    <input type="text" required name="年齢">
    <input type="submit">
    </form>
</body>
</html>